# =========================
# ENVIRONNEMENTS
# =========================

# Conda
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# DONNÉES
# =========================

data/raw/
data/processed/

# =========================
# LOGS
# =========================

*.log

# =========================
# FICHIERS SYSTÈME
# =========================

.DS_Store
Thumbs.db

# =========================
# CONFIG
# =========================

.env
*.env